---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'AndyCaseres',
  ignoreTitleTemplate: true,
};
import { TechSkills, Bellpi, Datarte, Acflix, VideoAc, ConversionAc, AnimeAc, Experience } from '~/data';
import Headline from '~/components/blog/Headline.astro';
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id="hero"
    callToAction={{ text: 'Get template', href: 'https://github.com/onwidget/AndyCaseres', icon: 'tabler:download' }}
    callToAction2={{ text: 'About me', href: '#about' }}
    image={{
      src: 'https://ik.imagekit.io/andycaseres/portfolio/hero.webp?updatedAt=1691953652081',
      alt: 'AndyCaseres Hero Image',
    }}
  >
    <Fragment slot="title">
      Frontend <span>Developer</span>
      <span class="text-primary dark:text-white highlight"> ReactJs</span> + Tailwind CSS + <span
        class="text-primary dark:text-white highlight"
        >Astro 2.0
      </span> + NextJs
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">I am a Front-end Developer</span> with experience in technologies like JavaScript,
        TypeScript, React.js, Next.js, GatsbyJS, GraphQL, TailwindCSS and more.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="about"
    tagline="About me"
    title="I'm a Frontend developer who loves creating web applications and learning new technologies."
    subtitle="I'm a Frontend developer who loves creating web applications and learning new technologies."
    subtitle2="I am very constant and passionate, which always helps me to go all the way in the things I do. Thanks to this I have learned to pay attention to the needs of efficient developing and useful way."
    subtitle3="I like to learn new technologies that challenge me to continue exploring all the possibilities of web development."
    cv="https://drive.google.com/file/d/147W5XfCkWzjattCjARZCxqudGPFZUaWb/view?usp=sharing"
    items={TechSkills}
  />

  <!-- Steps Widget ****************** -->
  <div id="projects"></div>
  <Headline
    tagline="Projects"
    title="Projects"
    subtitle="IIn this section you can see some of my projects and projects that I have worked on within companies."
    classes="mt-10 text-center max-w-3xl mx-auto"
  />
  <Steps
    title="Bellpi is an intelligent proposal where you can buy the car you have in mind and the one that really goes with you online."
    items={Bellpi}
    image={{
      src: 'https://ik.imagekit.io/andycaseres/portfolio/bellpi.webp?updatedAt=1691953647709',
      alt: 'Bellpi',
    }}
    link="https://bellpi.com"
  />
  <Steps
    title="Datarte is a dissemination platform for artists, galleries, museums and curators. You can apply and create calls."
    isReversed={true}
    items={Datarte}
    image={{
      src: 'https://ik.imagekit.io/andycaseres/portfolio/datarte.webp?updatedAt=1691953648924',
      alt: 'Datarte',
    }}
    link="https://www.datarte.art/"
  />
  <Steps
    title="Acflix is a clone of the famous Netflix platform."
    items={Acflix}
    image={{
      src: 'https://ik.imagekit.io/andycaseres/portfolio/Acflix.webp?updatedAt=1691953648452',
      alt: 'Acflix',
    }}
    link="https://acflix.vercel.app/"
  />
  <Steps
    isReversed={true}
    title="AnimeAc is a website to find your favorite anime."
    items={AnimeAc}
    image={{
      src: 'https://ik.imagekit.io/andycaseres/portfolio/AnimeAc.webp?updatedAt=1691953648725',
      alt: 'AnimeAc',
    }}
    link="https://animeac.vercel.app/"
  />
  <Steps
    title="VideoAc is a website to find your favorite videos."
    items={VideoAc}
    image={{
      src: 'https://ik.imagekit.io/andycaseres/portfolio/VideoAc.webp?updatedAt=1691953657813',
      alt: 'VideoAc',
    }}
    link="https://videoac.vercel.app/"
  />
  <Steps
    title="ConversionAc is a currency conversion app."
    isReversed={true}
    items={ConversionAc}
    image={{
      src: 'https://ik.imagekit.io/andycaseres/portfolio/conversionAc.webp?updatedAt=1691953647851',
      alt: 'ConversionAc',
    }}
    link="https://conversion-ac.vercel.app/"
  />

  <!-- Features2 Widget ************** -->
  <div id="experience"></div>
  <Features2
    title="Experience in web development using Javascript, ReactJs, NextJs, Gatsby, Astro, TailwindCSS and more."
    tagline="Experience"
    items={Experience}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
</Layout>
